<!-- Registrate -->
<section>
    <div class="container-fluid p-0">
        <div class="h-100 p-5 text-white bg-dark ">
            <div class="row align-items-center justify-content-around">
                <div class="col-sm-6">
                    <h2>Registrate en el mundo gamer</h2>
                    <p>
                        Nuetras lista de juegos es un catalogo muy variado con lo mejor del mercado. Contamos con
                        excelentes
                        ofertas y promociones al alcance de todo el público. Los pagos se pueden realizar por tarjetas
                        de crédito
                        Visa y Mastercad, efectivo o pagos en línea. Enviós a nivel nacional
                    </p>
                    <p>Contamos con un execelente equipo de trabajo el cual contribuye cumplir todas las espectativas de
                        nuestros clientes.</p>
                    <p>Nuestros estandares estan diseñados para facilitar el acercamiento entre vendedor y comprador.
                    </p>

                </div>
                <div class="col-sm-5">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="exampleInputName" aria-describedby="name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Rol</option>
                                <option value="1">Vendedor</option>
                                <option value="2">Comprador</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-secondary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>