<!-- descripción proyecto -->
<section>
    <div class="container-fluid mt-5 p-0 border">
        <div class="p-5 bg-light rounded-3">
            <div class="container py-5">
                <div class="row align-items-center">
                    <div class="col-sm-7">
                        <h1 class="display-5 fw-bold">Sobre nosotros</h1>
                        <p class="col-md-8 fs-4">
                            Ofrecemos un amplio catalogo de videojuegos, priorizando las exigencias del cliente. Aquí
                            podras
                            encontrar tus videojuegos favoritos,desde los juegos retro que te gustaban desde los 5 años,
                            hasta
                            aquellos en alta definición en 4k y 60 fotogramas por segundo.
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <img src="https://bolavip.com/__export/1618845776944/sites/bolavip/img/2021/04/19/horizon-zero-dawn-ps4-ps5-gratis_crop1618845776317.jpg_1635092770.jpg"
                            class="w-100 rounded-3">
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>